<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <context:component-scan base-package="com.hef"/>

    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--    BasicDataSource 提供了close方法关闭数据源，所以必须设定destory-method = "close" 属性，
            以便Spring容器关闭时，数据源能够正常关闭。-->
    <bean id="dataSource"
          destroy-method="close"
          class="org.apache.commons.dbcp.BasicDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}"/>

<!--    配置一个用于产生主键的递增器
      incrementerName: 设置维护主键的表名
      columnName： 用于生成主键值的别名
      cacheSize： 缓存大小，（一次返回主键的个数。先从缓存中取值，取完了，才会再递增查询）
-->
    <bean id="incrementer"
          class="org.springframework.jdbc.support.incrementer.MySQLMaxValueIncrementer"
          p:incrementerName="t_post_id"
          p:columnName="sequence_id"
          p:cacheSize="10"
          p:dataSource-ref="dataSource"/>

    <!-- 配置Jdbc模板  -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
          p:dataSource-ref="dataSource" />
<!--  只要不是Oracle 9i 的数据库，即Oracle 10g 或其他数据库，则只要简单地配置一个DefaultLobHandler就可以了 -->
    <bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true"/>

    <!--    基于数据源的事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>

<!--    通过注解的方式配置事务 -->
    <tx:annotation-driven/>

</beans>