<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!--    指定配置文件-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath: bean.xml</param-value>
    </context-param>
    
<!--    声明Web容器的监听器, 用于启动 WebApplicationContext -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

<!--    对于不支持 容器监听器的低版本Web容器， 则可以采用 ContextLoaderServlet-->
    <!--<servlet>
        <servlet-name>springContextLoaderServlet</servlet-name>
        <servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
    </servlet>-->


</web-app>